<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>Página inicial</title>
    </head>

    <body>
        <h1>Início</h1>
        <p>Esta é a página inicial</p>

        <a href="/institucional">Institucional</a>
        <br>
        <a href="/missao">Missao</a>
        <br>
        <a href="/visao">Visao</a>
        <br>
        <a href="/curso">Curso</a>
        <br>
        <a href="/curso/pagina">Página do Curso</a>
        <br>
        <a href="/produtos">Produtos</a>
        <br>
        <a href="/produtos/listar">Produtos listar</a>
        <br>
        <a href="/miniaplicacao">Navegação</a>
    </body>
</html>